<div class="container">
  <h2>QR Code List</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let list of lists let i = index">
      <tr>
        <td>{{i+1}}</td>
        <td>{{list.title}}</td>
        <td><button routerLink="/show/{{list._id}}">Update</button></td>
        <td><button (click)="deleteList(list)" style="margin-left: 10px;">Delete</button></td>
      </tr>
    </tbody>
  </table>
  </div>
  <button routerLink="/general">+ New List</button>
</div>
